    GLOBAL_SETTINGS
    LAB_MASTER_SEED stego-code-identification_ipv4_student_master_seed
    REGISTRY luckyman2907
NETWORK SOME_NETWORS
     MASK 172.20.0.0/24
     GATEWAY 172.20.0.1
CONTAINER sender
     USER ubuntu
     X11 YES
     SOME_NETWORS 172.20.0.2
CONTAINER receiver
     USER ubuntu
     X11 YES
     SOME_NETWORS 172.20.0.3
